<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title py:content="title"></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <!-- CIDE CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  </head>
  <body>
    <h1 py:content="title"></h1>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </body>
</html>